<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <iframe class="" src="http://www.vidtomp3.com/?url=<%= @track.url %>" width="1000" height="1000" />
    </div>
  </div>
</div>